/*this is my first proper CSS file */


body{

    background-color: rgb(255, 230, 128) ;
    max-width: 600px;
    margin: auto;
}

h1{

    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: #f4c245;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: white;
}



.chart{
    width: 300px;
    max-height: 300px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}
