body{

    background-color: rgb(92, 219, 149) ;
    max-width: 600px;
    margin: auto;
}
    

h1{

    color: rgb(237, 245, 225);
    font-family: 'Poppins', sans-serif ;
}

h2{

    color: rgb(237, 245, 225);
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: rgb(237, 245, 225);
    font-family: 'Poppins', sans-serif ;
}

.vega-bind-name{
    color: rgb(5, 56, 107); 
    font-family: 'Poppins', sans-serif;
    background-color: rgb(92, 219, 149);
}

p{
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 56, 107);
    background-color: rgba(92, 219, 149, 0.9);
}

p.thick {
  font-weight: bold;
}


p.solid {
  border-style: solid;
  border-color: rgb(237, 245, 225);
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
  background: rgb(237, 245, 225);
}

a{
    font-family: 'Poppins', sans-serif;
    color: rgb(237, 245, 225);
    text-decoration:none;
}

a.text:hover{
    color: rgb(237, 245, 225);
    text-decoration:underline;
}
    
a.text:visited {
	color: rgb(237, 245, 225);
}

a.text:active {
	color: rgb(rgb(5, 56, 107)

.chart {
    background-color: rgb(92, 219, 149);
}
