body{

    background-color: rgb(92, 219, 149) ;
    max-width: 800px;
    margin: auto;
}
    

h1{

    color: rgb(237, 245, 225);
    font-family: 'Poppins', sans-serif ;
}

h2{

    color: rgb(237, 245, 225);
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: rgb(237, 245, 225);
    font-family: 'Poppins', sans-serif ;
}

p{
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 56, 107);
    background-color: rgba(92, 219, 149, 0.9);
}

p.solid {
    border-style: solid;
    border-color: rgb(237, 245, 225)
}

a{
    font-family: 'Poppins', sans-serif;
    color: rgb(5, 56, 107);
    text-decoration:none;
}

a.text:hover{
    color: rgb(237, 245, 225);
    text-decoration:underline;
}
    
a.text:visited {
	rgb(5, 56, 107);
}

.chart {
    background-color: rgb(92, 219, 149);
}
